@import '../../shared.scss';

.Counter {
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.1);

  min-width: 300px;

  &:last-child {
    margin-left: 20px;
  }
}

.Counter-header {
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid black;
  padding: 5px 15px;

  h2 {
    text-transform: capitalize;
    opacity: 0.92;
  }
}

.Counter-content {
  display: flex;
  padding: 10px;

  p {
    font-family: $monospace;
    font-size: 3em;
  }

  button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    margin: auto;
    opacity: 0.6;
    outline: none;
    transition: all 250ms;

    &:hover {
      transform: scale(1.15);
      opacity: 0.85;
    }

    &:active {
      opacity: 1;
    }
  }
}
