@import '../../shared.scss';

.Timer {
  background: rgba(0, 0, 0, 0.1);
  border: $border;
}

.Timer-header {
  background: rgba(0, 0, 0, 0.2);
  border-bottom: $border;
  font-size: 1.5em;
  padding: 5px;

  h2 {
    opacity: 0.92;
  }
}

.Timer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 10px;
  min-height: 150px;

  p {
    font-family: $monospace;
    font-size: 3.5em;
    margin-bottom: 10px;
  }
}

.Timer-controls {
  button {
    @extend %button-shared;

    &:last-child {
      margin-left: 20px;
    }
  }
}
