@import './shared.scss';

body {
  background: rgb(54, 60, 85);
  color: ivory;
  font-family: $body-font;
  text-align: center;

  min-width: 500px;
  height: 100vh;

  user-select: none;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
