@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merienda+One|Roboto');

// Fonts
$title-font: 'Merienda One', 'Roboto', sans-serif;
$body-font: 'Roboto', sans-serif;
$monospace: 'Inconsolata', monospace;
